<h1>Greeting App</h1>  

<form action="/greeting" method="POST">
        <div class="backdrop">
          
            {{!-- <div class="errSpace">{{nameAndRadioErr}}</div> --}}
           
            <div class="inputName">
                <h4>Enter Name:</h4>
                <input type="text" value="" name="name" class="input" placeholder="Enter your name here">
                <p class="total">{{counter}}</p>
            </div>
            <div class="space" id="clearMsg">{{clearCounter}}</div>

          
            <label class="radiobtn1 btns">
                <input type="radio" name="language" value="isiXhosa" class="rbtn">
                <span class="label-body">isiXhosa</span>
            </label>
            <label class="radiobtn2 btns">
                <input type="radio" name="language" value="English" class="rbtn">
                <span class="label-body">English</span>
            </label>
            <label class="radiobtn3 btns">
                <input type="radio" name="language" value="Afrikaans" class="rbtn">
                <span class="label-body">Afrikaans</span>
            </label>
             <div class="space" id="greeting">{{greeting}}</div>
            
            <div class="button1">
            <button  type="submit" class="button">Greet Me</button>
            </div>
        </div>
        </form>
        <form action="/clearing" method="POST">
            <button type="submit" class="eraseBtn">Erase Counter</button> 
        </form>
       <a href="/greetings"><button class="eraseBtn">Names Greeted</button></a>  