<a href="/greetings"><h1>Greeting</h1></a>    

    <form action="/greeting" method="POST">
        <div class="backdrop">
           <div class="errSpace"></div>
           <div class="clearSpace"></div>

            <div class="inputName">
                <h4>Enter Name:</h4>
                <input type="text" value="" name="name" class="input" placeholder="Enter your name here">
                <p class="total">{{counter}}</p>
            </div>
            <div class="space"></div>
    
            <label class="radiobtn1 btns">
                <input type="radio" name="language" value="isiXhosa" class="rbtn">
                <span class="label-body">isiXhosa</span>
            </label>
            <label class="radiobtn2 btns">
                <input type="radio" name="language" value="English" class="rbtn">
                <span class="label-body">English</span>
            </label>
            <label class="radiobtn3 btns">
                <input type="radio" name="language" value="Afrikaans" class="rbtn">
                <span class="label-body">Afrikaans</span>
            </label>
             <div class="space">{{greeting}}</div>
            
            <div class="buttons">
            <button  type="submit" class="button">Greet Me</button>
            <button type="submit" class="eraseBtn">Erase Counter</button>
            </div>
        </div>
        </form>
        