  <h1>Greeted Names</h1>

<table>
    <tr>
        <th>Names</th>
    </tr>

    {{#each names}}
    <tr>
     <td><a href="/greetings/{{username}}">{{username}}</a></td>
    </tr>
    {{/each}}

</table>