<div class="row">
  <h1>Greeted Names</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Number</th>
    </tr>
    {{#each names}}
    <tr>
        <td>{{names}}</td>
        <td>{{number}}</td>
    </tr>
    {{/each}}
</table>  
</div>
